{% extends 'new/base.html' %}
{% load static %}
{% block content %}


    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'new/images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h2>About Us</h2>
            <ul class="page-breadcrumb">
            	<li><a href="{% url 'home' %}">Home</a></li>
                <li>About</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	<br>
	<!-- Story Section -->
	<section class="story-section" style="background-color: white;">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2 style="font-family: Roboto;">Welcome to the <span class="color">YouExpress</span> <span class="color"></span></h2>
						<div style="font-family: Roboto;" class="bold-text">We provide the best suggestions for Logistics and Transposition in town Go beyond logistics, make the world go round and revolutionize business.</div>
						<div class="text">
							<p style="font-family: Roboto;">YouExpress is a Leading Provider of Quality Packers And Movers in world. With our Experience of over 25+ Years in the Industry, the company is highly skilled and is equipped with the best of facilities to match all High Quality Moving Standards.</p>
							<p style="font-family: Roboto;">We constantly delivering the best is taken care of with the help of our Products Durability, Products Comfort and Products Attractiveness.We offer a wide range of Moving And Packing, logistics, transportation Upholestery Services in all over the world.</p>
						</div>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="{% static 'new/images/resource/about.jpg' %}" alt="" />
						</div>
					</div>
				</div>
				
			</div>
			
				<div class="row clearfix" style="padding-top: 12px;">
                   <div class="col-lg-4">
		                   <ul class="list-style-three">
							<li>4 years material warranty.</li>
							<li>1000+ projects has been completed.</li>
							<li>499+ professinals are available.</li>
						   </ul>
                    </div>
                    <div class="col-lg-4">
		                   <ul class="list-style-three">
							<li>15+ awards.</li>
							<li>Available on 10+ countries. </li>
							<li>Borderless logistics.</li>
						   </ul>
                    </div>
                    <div class="col-lg-4">
		                   <ul class="list-style-three">
							<li>A world-class port.</li>
							<li>Endless possibilities.</li>
							<li>Happiness delivered.</li>
						   </ul>
                    </div>
                          

            </div>
		</div>
	</section>
	<!-- End Story Section -->
	
	<!-- Interior Section -->
	<section class="interior-section style-three">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Image Column -->
					<div class="image-column col-lg-4 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="{% static 'new/images/resource/about2.jpg' %}" alt="" />
							</div>
						</div>
					</div>
					
					<!-- Content Column -->
					<div class="content-column col-lg-8 col-md-12 col-sm-12">
						<div class="inner-column">
							<h2 style="font-family: Roboto;">Why Choose Us for <span class="color">Logistics</span> & <span class="color">Transportation</span></h2>
							<div style="text-align: left;font-family:Roboto;" class="text">Mylogistics is a Leading Provider of Quality Packers And Movers in world. With our Experience of over 25+ Years in the Industry, the company is highly skilled and is equipped with the best of facilities to match all High Quality Moving Standards.
We constantly delivering the best is taken care of with the help of our Products Durability, Products Comfort and Products Attractiveness.We offer a wide range of Moving And Packing, logistics, transportation Upholestery Services in all over the world.</div>
							<div class="row clearfix">
							
								<!-- Interior Block -->
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-answer"></span>
										</div>
										<h3>Professional Team</h3>
									</div>
								</div>
								
								<!-- Interior Block -->
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-award-1"></span>
										</div>
										<h3>Assure Quality</h3>
									</div>
								</div>
								
								<!-- Interior Block -->
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-call"></span>
										</div>
										<h3>24/7 Support</h3>
									</div>
								</div>
								
							</div>
							
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Interior Section -->
	<br><br>
	<!-- Counter Section -->
	<section class="counter-section style-two">
		<div class="auto-container">
		
			<!-- Fact Counter -->
			<div class="fact-counter">
				<div class="row clearfix">

					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="content">
								<div style="font-family: Roboto;" class="count-outer count-box">
									<span class="count-text" data-speed="2500" data-stop="25">0</span> Year's
								</div>
								<h4 style="font-family: Roboto;" class="counter-title">Material Warranty</h4>
							</div>
						</div>
					</div>

					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="content">
								<div style="font-family: Roboto;" class="count-outer count-box alternate">
									<span class="count-text" data-speed="3000" data-stop="2200">0</span>+
								</div>
								<h4 style="font-family: Roboto;" class="counter-title">Order Completed</h4>
							</div>
						</div>
					</div>

					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box" style="font-family: Roboto;">
									<span class="count-text" data-speed="3000" data-stop="300">0</span>+
								</div>
								<h4 class="counter-title" style="font-family: Roboto;">Team Members</h4>
							</div>
						</div>
					</div>
					
					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box" style="font-family: Roboto;">
									<span class="count-text" data-speed="2500" data-stop="20">0</span> Days
								</div>
								<h4 class="counter-title" style="font-family: Roboto;">Delivery</h4>
							</div>
						</div>
					</div>

				</div>
			</div>
			
		</div>
	</section>
	<!-- End Counter Section -->
	

		<!-- Mission Section -->
    <section class="mission-section style-two">
		<div class="auto-container">
			<div class="row clearfix">
				
				
				
				<!-- Content Column -->
				<div class="content-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2 style="color: black;font-family: Roboto;">Company <span class="color">Vision</span></h2>
						<!-- <div class="bold-text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div> -->
						<div style="text-align:left;font-family: Roboto;" class="text">Our vision is to establish YouExpress Logistics as the most grounded worldwide logistics & supply chain management company as a trusted partner to all our clients.</div>
						
					
					</div>
				</div>

				<div class="content-column col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2 style="color: black;font-family: Roboto;">Company <span class="color"> Mission</span></h2>
						<!-- <div class="bold-text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div> -->
						<div style="text-align: left;font-family: Roboto;" class="text">Our mission is to deliver a positive, reliable experience to each and every one of our clients while offering exceptional value in the marketplace and setting the standard for professionalism in the logistic solutions we provide.</div>
						
					
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Mission Section -->

	<!-- Team Section -->
	<section class="team-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title light centered">
				<h2 style="text-align: left;font-family: Roboto;">Our <span class="color"> Experts</span></h2>
				<div style="text-align: left;font-family: Roboto;" class="text">Our caregivers are trained specifically to provide in-home care.</div>
			</div>
			
			<div class="clearfix">
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'new/images/resource/team-1.jpg' %}" alt="" />
							<div class="overlay-box">
								<!-- <ul class="social-icons">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-skype"></i></a></li>
								</ul> -->
							</div>
						</div>
						<div class="lower-content">
							<h3 style="text-align: left;font-family: Roboto;"><a>Joe Steve</a></h3>
							<!-- <div class="designation">CEO</div> -->
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'new/images/resource/team-2.jpg' %}" alt="" />
							<div class="overlay-box">
								<!-- <ul class="social-icons">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-skype"></i></a></li>
								</ul> -->
							</div>
						</div>
						<div class="lower-content">
							<h3 style="text-align: left;font-family: Roboto;"><a >Henry Root</a></h3>
							<!-- <div class="designation">Managing Director</div> -->
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'new/images/resource/team-3.jpg' %}" alt="" />
							<div class="overlay-box">
								<!-- <ul class="social-icons">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-skype"></i></a></li>
								</ul> -->
							</div>
						</div>
						<div class="lower-content">
							<h3 style="text-align: left;font-family: Roboto;"><a >Mark Starc</a></h3>
							<!-- <div class="designation">Bussiness Head</div> -->
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'new/images/resource/team-4.jpg' %}" alt="" />
							<div class="overlay-box">
								<!-- <ul class="social-icons">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-skype"></i></a></li>
								</ul> -->
							</div>
						</div>
						<div class="lower-content">
							<h3 style="text-align: left;font-family: Roboto;"><a >Alex Wind</a></h3>
							<!-- <div class="designation">Operation Head</div> -->
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Team Section -->
	


	

{% endblock %}