<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
<title>MyLogistics - Transportaion Html Responsive Template Home Page 4</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

	<!-- Header Style Three -->
    <header class="main-header header-style-three">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container clearfix">
                    <div class="top-left clearfix">
                    <div class="text"><span class="icon flaticon-call-answer"></span> Need help? Call Us Now : <a href="tel:1800-456-7890" class="number">1234 567 8910</a></div>
					
                </div>
                <div class="top-right clearfix">
                    <!-- Info List -->
					<ul class="info-list">
                       
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <!--Info-->
                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="images/logo-dark.png" alt="" title=""></a></div>
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler For Mobile--><div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-1"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                     <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li><a href="index-3.html">Home page 03</a></li>
                                            <li><a href="index-4.html">Home page 04</a></li>
										
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="#">About us</a>
                                        <ul>
                                            <li><a href="about.html">Company Profile</a></li>
											<li><a href="team.html">Our Team</a></li>
											<li><a href="testimonials.html">Testimonials</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Our Services</a>
                                        <ul>
											<li><a href="services-dark.html">Services Style1 Dark</a></li>
											<li><a href="services-light.html">Services Style2 Light</a></li>
                                            <li><a href="service-details.html">Services Details 1</a></li>
                                            <li><a href="service-details2.html">Services Details 2</a></li>
                                           
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Projects</a>
                                        <ul>
                                            <li><a href="projects-classic.html">Projects</a></li>
                                            <li><a href="projects-fullwidth.html">Project Full Screen</a></li>
                                            <li><a href="projects-masonry.html">Project Masonry</a></li>
                                            
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-2.html">blog Style 2</a></li>
                                            <li><a href="blog-detail.html">Blog Details</a></li>
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                            <li><a href="faq.html">Faq's</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
											
                                        </ul>
                                    </li>
                                     <li class="dropdown"><a href="shop.html">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Main shop page</a></li>
                                            <li><a href="product-detail.html">Product Detail Page</a></li>
                                            <li><a href="cart-page.html">Cart Page</a></li>
											<li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
						
						<!-- Outer Box -->
                        <div class="outer-box clearfix">
                            <div class="search-box-btn"><span class="icon flaticon-magnifying-glass-1"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

    	<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
				<!--Social Links-->
				<div class="social-links">
					<ul class="clearfix">
						<li><a href="#"><span class="fab fa-twitter"></span></a></li>
						<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
						<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
						<li><a href="#"><span class="fab fa-instagram"></span></a></li>
						<li><a href="#"><span class="fab fa-youtube"></span></a></li>
					</ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->

    <!-- Banner Section -->
	<section class="banner-section" style="background-image:url(images/background/1.jpg)">
		<div class="auto-container">
			<div class="row clearfix">
				
				
				
				<!-- Content Column -->
				<div class="content-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						
						<!--<div class="content">
							<h3>Home Interior Designs</h3>
							<div class="text">Find design ideas from our design gallery or book a <br> meeting with a dedicated design expert</div>
						 </div> -->
						
					</div>
				</div>
				 <!-- Form Column -->
				<div class="form-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Form Box -->
						<div class="form-box">
							<h2>Get A Quote</h2>
							
							<!-- Default Form -->
							<div class="default-form">
								<form method="post" action="#">
								
									<!-- Form Group -->
									<div class="form-group">
										<input type="text" name="name" value="" placeholder="Name" required>
									</div>
									
									<!-- Form Group -->
									<div class="form-group">
										<input type="email" name="email" value="" placeholder="E-Mail" required>
									</div>
									
									<!-- Form Group -->
									<div class="form-group">
										<input type="text" name="phone" value="" placeholder="Mobile Number" required>
									</div>
									
									<!-- Form Group -->
									<div class="form-group">
										<select class="custom-select-box">
											<option>Select City</option>
											<option>Mumbai</option>
											<option>Chicago</option>
											<option>London</option>
											<option>Victoria</option>
										</select>
									</div>
									
									<div class="form-group">
										<button type="submit" class="theme-btn submit-btn">Book Appointment</button>
									</div>
									
								</form>
							</div>
							<div class="text">By submitting this form, you agree to the <a href="#">privacy policy</a> and <a href="#">terms of use</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Section -->
	<section class="shop-features-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Feature Block-->
                <div class="shop-feature-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-delivery-truck"></span>
                        </div>
                        <h3><a href="#">Fast Devivery</a></h3>
                        <div class="text">We are the worlds fastest logistics organization.</div>
                    </div>
                </div>
                
                <!--Feature Block-->
                <div class="shop-feature-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-award-1"></span>
                        </div>
                        <h3><a href="#">Assure Quality</a></h3>
                        <div class="text">We keep maintain a 100% product quality </div>
                    </div>
                </div>
                
                <!--Feature Block-->
                <div class="shop-feature-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-call"></span>
                        </div>
                        <h3><a href="#">24/7 Support</a></h3>
                        <div class="text">We provide a 24/7 support at any time, anywhere.</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

		<!-- Fluid Section One -->
    <section class="fluid-section-one style-two">
    	<div class="outer-container clearfix">
        	
			<!--Content Column-->
			<div class="content-column">
				<div class="content-box">
					<h2>25+ Years of Experience in logistics services</h2>
					<div class="text">Mylogistics is a Leading Provider of Quality Packers And Movers in world. With our Experience of over 25+ Years in the Industry, the company is highly skilled and is equipped with the best of facilities to match all High Quality Moving Standards.
We constantly delivering the best is taken care of with the help of our Products Durability, Products Comfort and Products Attractiveness.We offer a wide range of Moving And Packing, logistics, transportation Upholestery Services in all over the world.</div>
					<ul class="list-style-one">
						<li>1000+ projects has been completed.</li>
						<li>Available on 10+ countries.</li>
						<li>499+ professinals are available.</li>
						<li>4 years material warranty.</li>
						<li>Borderless logistics.</li>
						<li>A world-class port.</li>
					</ul>
					<div class="bold-text">Let Us Move You With Honesty And Greatness.<br> <a href="contact.html">Book Now</a></div>
				</div>
			</div>
			
			<!--Image Column-->
        	<div class="image-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms" style="background-image: url(images/resource/2.jpg)">
				<div class="inner-column">
					<div class="image">
						<img src="images/resource/2.jpg" alt="">
					</div>
					
				</div>
            </div>
            <!--End Image Column-->
			
		</div>
	</section>


	<!-- Services Section Three -->
	<section class="services-section-three">
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>Our Excellent <span class="color">Services</span></h2>
				<div class="text">We provides our clients excellent, trustworthy and safe logistics services, having all you need to insure your freight without depending where the destination is or how big is the shipment.</div>
			</div>
			
			<div class="row clearfix">
				
				<!-- Service Block -->
				<div class="service-block-three style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="services-light.html"><img src="images/resource/service-4.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="services-light.html">Machinery Transport</a></h3>
							<div class="text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div>
							<a href="services-light.html" class="read-more">Read more</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="services-light.html"><img src="images/resource/service-5.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="services-light.html">Warehousing Services</a></h3>
							<div class="text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div>
							<a href="services-light.html" class="read-more">Read more</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="services-light.html"><img src="images/resource/service-6.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="services-light.html">Commercial Relocation</a></h3>
							<div class="text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div>
							<a href="services-light.html" class="read-more">Read more</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="750ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="services-light.html"><img src="images/resource/service-7.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="services-light.html">Cargo Services</a></h3>
							<div class="text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div>
							<a href="services-light.html" class="read-more">Read more</a>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Services Section -->
	

	
	<!-- Project Section / Style Two -->
	<section class="project-section style-two">
		<div class="auto-container">
			<!-- Title Box -->
			<div class="title-box">
				<h2>Our Latest Projects</h2>
			</div>
		</div>
		
		<div class="outer-container">
			
			<!--Isotope Galery-->
            <div class="sortable-masonry">
                
                <!--Filter-->
                <div class="filters clearfix">
                	
                	<ul class="filter-tabs filter-btns text-center clearfix">
                        <li class="active filter" data-role="button" data-filter=".all">All Projects</li>
						<li class="filter" data-role="button" data-filter=".residential">Warehouse</li>
						<li class="filter" data-role="button" data-filter=".commercial">Commercial</li>
						<li class="filter" data-role="button" data-filter=".hospital">Transportaion</li>
						<li class="filter" data-role="button" data-filter=".office">Multimodel</li>
                    </ul>
                    
                </div>
                
				<div class="items-container row clearfix">
				
					<!-- Gallery Item -->
					<div class="gallery-item large-block masonry-item all hospital commercial">
						<div class="inner-box">
							<figure class="image-box">
								<img src="images/gallery/1.jpg" alt="">
								<!--Overlay Box-->
								<div class="overlay-box">
									<div class="overlay-inner">
										<div class="content">
											<h3><a href="projects-fullwidth.html">Warehouse</a></h3>
											<a href="images/gallery/1.jpg" data-fancybox="gallery-1" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
											<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
										</div>
									</div>
								</div>
							</figure>
						</div>
					</div>
					
					<!-- Gallery Item -->
					<div class="gallery-item small-block masonry-item all hospital commercial">
						<div class="inner-box">
							<figure class="image-box">
								<img src="images/gallery/2.jpg" alt="">
								<!--Overlay Box-->
								<div class="overlay-box">
									<div class="overlay-inner">
										<div class="content">
											<h3><a href="projects-fullwidth.html">Transportation</a></h3>
											<a href="images/gallery/2.jpg" data-fancybox="gallery-1" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
											<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
										</div>
									</div>
								</div>
							</figure>
						</div>
					</div>
					
					<!-- Gallery Item -->
					<div class="gallery-item small-block masonry-item all residential office commercial">
						<div class="inner-box">
							<figure class="image-box">
								<img src="images/gallery/3.jpg" alt="">
								<!--Overlay Box-->
								<div class="overlay-box">
									<div class="overlay-inner">
										<div class="content">
											<h3><a href="projects-fullwidth.html">Packaging</a></h3>
											<a href="images/gallery/3.jpg" data-fancybox="gallery-1" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
											<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
										</div>
									</div>
								</div>
							</figure>
						</div>
					</div>
					
					<!-- Gallery Item -->
					<div class="gallery-item small-block masonry-item all commercial">
						<div class="inner-box">
							<figure class="image-box">
								<img src="images/gallery/4.jpg" alt="">
								<!--Overlay Box-->
								<div class="overlay-box">
									<div class="overlay-inner">
										<div class="content">
											<h3><a href="projects-fullwidth.html">Cargo</a></h3>
											<a href="images/gallery/4.jpg" data-fancybox="gallery-1" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
											<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
										</div>
									</div>
								</div>
							</figure>
						</div>
					</div>
					
					<!-- Gallery Item -->
					<div class="gallery-item large-block masonry-item all hospital office residential">
						<div class="inner-box">
							<figure class="image-box">
								<img src="images/gallery/7.jpg" alt="">
								<!--Overlay Box-->
								<div class="overlay-box">
									<div class="overlay-inner">
										<div class="content">
											<h3><a href="projects-fullwidth.html">Logistics</a></h3>
											<a href="images/gallery/7.jpg" data-fancybox="gallery-1" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
											<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
										</div>
									</div>
								</div>
							</figure>
						</div>
					</div>
					
					<!-- Gallery Item -->
					<div class="gallery-item small-block masonry-item all residential">
						<div class="inner-box">
							<figure class="image-box">
								<img src="images/gallery/5.jpg" alt="">
								<!--Overlay Box-->
								<div class="overlay-box">
									<div class="overlay-inner">
										<div class="content">
											<h3><a href="projects-fullwidth.html"> Packaging</a></h3>
											<a href="images/gallery/5.jpg" data-fancybox="gallery-1" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
											<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
										</div>
									</div>
								</div>
							</figure>
						</div>
					</div>
					
					<!-- Gallery Item -->
					<div class="gallery-item small-block masonry-item all hospital office">
						<div class="inner-box">
							<figure class="image-box">
								<img src="images/gallery/6.jpg" alt="">
								<!--Overlay Box-->
								<div class="overlay-box">
									<div class="overlay-inner">
										<div class="content">
											<h3><a href="projects-fullwidth.html">Warehouse</a></h3>
											<a href="images/gallery/6.jpg" data-fancybox="gallery-1" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
											<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
										</div>
									</div>
								</div>
							</figure>
						</div>
					</div>
					
				</div>
				
			</div>
		
			<!-- More Projects -->
			<div class="more-projects">
				<a href="projects-classic.html" class="projects">View All Projects</a>
			</div>
		
		</div>
	</section>
	<!-- End Project Section -->
	
	<!-- Interior Section -->
	<section class="interior-section style-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Image Column -->
					<div class="image-column col-lg-4 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="images/resource/3.jpg" alt="" />
							</div>
						</div>
					</div>
					
					<!-- Content Column -->
					<div class="content-column col-lg-8 col-md-12 col-sm-12">
						<div class="inner-column">
							<h2>Why Choose Us for Logistics & Transportation</h2>
							<div class="text">Mylogistics is a Leading Provider of Quality Packers And Movers in world. With our Experience of over 25+ Years in the Industry, the company is highly skilled and is equipped with the best of facilities to match all High Quality Moving Standards.
We constantly delivering the best is taken care of with the help of our Products Durability, Products Comfort and Products Attractiveness.We offer a wide range of Moving And Packing, logistics, transportation Upholestery Services in all over the world.</div>
							<div class="row clearfix">
							
								<!-- Interior Block -->
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-award-1"></span>
										</div>
										<h3>Assure Quality</h3>
									</div>
								</div>
								
								<!-- Interior Block -->
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-answer"></span>
										</div>
										<h3>Professional Team</h3>
									</div>
								</div>
								
								<!-- Interior Block -->
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-call"></span>
										</div>
										<h3>24/7 Support</h3>
									</div>
								</div>
								
							</div>
							
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Interior Section -->
	
	<!-- Counter Section -->
	<section class="counter-section style-two">
		<div class="auto-container">
		
			<!-- Fact Counter -->
			<div class="fact-counter">
				<div class="row clearfix">

					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box">
									<span class="count-text" data-speed="2500" data-stop="25">0</span> Year's
								</div>
								<h4 class="counter-title">Material Warranty</h4>
							</div>
						</div>
					</div>

					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box alternate">
									<span class="count-text" data-speed="3000" data-stop="2500">0</span>+
								</div>
								<h4 class="counter-title">Order Completed</h4>
							</div>
						</div>
					</div>

					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box">
									<span class="count-text" data-speed="3000" data-stop="250">0</span>+
								</div>
								<h4 class="counter-title">Team Member's</h4>
							</div>
						</div>
					</div>
					
					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box">
									<span class="count-text" data-speed="2500" data-stop="20">0</span> Days
								</div>
								<h4 class="counter-title">Delivery</h4>
							</div>
						</div>
					</div>

				</div>
			</div>
			
		</div>
	</section>
	<!-- End Counter Section -->

		<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title-two centered">
				<h2>What our <span class="color">client say</span></h2>
				<div class="title-text">Just Look What Our Clients Say.</div>
			</div>
			
			<div class="testimonial-carousel owl-carousel owl-theme">
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="content">
							<div class="image-outer">
								<div class="image">
									<img src="images/resource/author-1.jpg" alt="" />
								</div>
							</div>
							<h3>Pranil</h3>
							<div class="title">Awosome</div>
							<div class="text">“Working with on a daily basis is a pleasure, based on their efficiency when it comes to transporting both our finished and returned goods in a timely and secure manner.”</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="content">
							<div class="image-outer">
								<div class="image">
									<img src="images/resource/author-2.jpg" alt="" />
								</div>
							</div>
							<h3>Pranil</h3>
							<div class="title">Nice</div>
							<div class="text">“Since we started working with, we've seen our supply chain improve considerably. It is vital that our components and generators arrive safely to our customers,they have delivered on their promises.”</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="content">
							<div class="image-outer">
								<div class="image">
									<img src="images/resource/author-1.jpg" alt="" />
								</div>
							</div>
							<h3>Pranil</h3>
							<div class="title">Awosome</div>
							<div class="text">“As always, once again came through for us when the shipment had to be there. I know I can always count on you and I can go home and let you handle it. That is priceless. Thanks again.”</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="content">
							<div class="image-outer">
								<div class="image">
									<img src="images/resource/author-2.jpg" alt="" />
								</div>
							</div>
							<h3>Pranil</h3>
							<div class="title">Nice</div>
							<div class="text">“My team and I appreciate the way that you are always on the ball and willing to go out of your way to help get us our material in time to prevent our lines from going down. Nice Job!”</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	
	
	<!-- Blog Section -->
	<section class="news-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<h2 style="color: #fff">Media / <span class="color">News</span></h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="images/resource/news-1.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li>By <span>Kane Starc</span></li>
								<li>Logistics</li>
							</ul>
							<h3><a href="blog-detail.html">How logistics service works.?</a></h3>
							<a href="blog-detail.html" class="read-more">Read more <span class="icon flaticon-right-arrow-1"></span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="images/resource/news-2.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li>By <span>Steve Gates</span></li>
								<li>Warehouse</li>
							</ul>
							<h3><a href="blog-detail.html">How to do inventary for warehouse.</a></h3>
							<a href="blog-detail.html" class="read-more">Read more <span class="icon flaticon-right-arrow-1"></span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="500ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-detail.html"><img src="images/resource/news-3.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li>By <span>Jason Root</span></li>
								<li>Transportation</li>
							</ul>
							<h3><a href="blog-detail.html">how transportation work ?</a></h3>
							<a href="blog-detail.html" class="read-more">Read more <span class="icon flaticon-right-arrow-1"></span></a>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End News Section -->
	
	<!-- Call To Action Section -->
	<section class="call-to-action-section" style="background-image: url(images/background/1.jpg)">
		<div class="auto-container">
		    <div class="row clearfix">
			<div class="col-lg-8">
                 <h2>Let us move you with honesty and greatness.</h2>
			</div>
			<div class="col-lg-4">
                 <a href="contact.html" class="theme-btn btn-style-two"><span class="txt">contact us</span></a>
			</div>
			</div>
		</div>
	</section>
	<!-- End Call To Action Section -->

	<!--Main Footer-->
    <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                    </div>
                                    <div class="text">With our Experience of over 25+ Years in the Industry, the company is highly skilled and is equipped with the best of facilities to match all High Quality Moving Standards.</div>
                                    <ul class="social-icons">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                    </ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                	<h2>Our Services</h2>
									<div class="widget-content">
										<ul class="list">
                                        	<li><a href="#">Warehousing</a></li>
                                            <li><a href="#">Machinery Transport</a></li>
                                            <li><a href="#">Transportation</a></li>
                                            <li><a href="#">Multimodal Transportation</a></li>
                                        </ul>
                                    </div>
								</div>
							</div>
						
						</div>
					</div>
					
					<!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
									<h2>Contact Details</h2>
									<div class="widget-content">
									
										<ul> 
											<li><span class="icon flaticon-phone-call"></span><a href="tel:1234567891">(1234) 567 8910</a></li>
											<li><span class="icon flaticon-map"></span> 000, Mumbai, India</li>
											<li><span class="icon flaticon-email"></span><a href="mailto:youremail@example.com"> youremail@example.com</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget newsletter-widget">
                                	<h2>Quick Inquiry</h2>
									<!-- contact Form -->
									<div class="newsletter-form">
										<form method="post" action="contact-footer.php">
											<div class="form-group">
												<input type="text" name="name" value="" placeholder="Your Name" required>
												<input type="email" name="email" value="" placeholder="Your Email" required>
												<input type="text" name="message" value="" placeholder="Message" required>
												<button type="submit" class="theme-btn btn-style-one"><span class="txt">Submit</span></button>
											</div>
										</form>
									</div>
								</div>
							</div>
						
						</div>
					</div>
					
				</div>
			</div>
			
			<!--Footer Bottom-->
            <div class="footer-bottom clearfix">
                <div class="pull-left">
                    <div class="copyright"><a href="#">© Yoursite 2021 All Right Reserved.</a></div>
                </div>
                <div class="pull-right">
                    <a href="#">Terms & Conditions |</a>
                    <a href="#">Privacy Policy |</a>
                    <a href="#">Disclaimer</a>
                </div>
            </div>
			
		</div>
	</footer>
	
</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="#">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
        
        
        </div>
        
    </div>
</div>

<!--Scroll to top-->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/isotope.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/script.js"></script>
</body>

</html>