<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
<title>MyLogistics - Transportaion Html Responsive Template Home 03</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

	<!-- Main Header / Header Style Four -->
    <header class="main-header header-style-four">
        
        <!-- Header Upper -->
        <div class="header-upper">
            <div class="auto-container clearfix">
				<!--Info-->
				<div class="logo-outer">
					<div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
				</div>

				<!--Nav Box-->
				<div class="nav-outer clearfix">
					<!--Mobile Navigation Toggler For Mobile--><div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
					<nav class="main-menu navbar-expand-md navbar-light">
						<div class="navbar-header">
							<!-- Togg le Button -->      
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon flaticon-menu-1"></span>
							</button>
						</div>
						
						<div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
							     <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li><a href="index-3.html">Home page 03</a></li>
                                            <li><a href="index-4.html">Home page 04</a></li>
										
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="#">About us</a>
                                        <ul>
                                            <li><a href="about.html">Company Profile</a></li>
											<li><a href="team.html">Our Team</a></li>
											<li><a href="testimonials.html">Testimonials</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Our Services</a>
                                        <ul>
											<li><a href="services-dark.html">Services Style1 Dark</a></li>
											<li><a href="services-light.html">Services Style2 Light</a></li>
                                            <li><a href="service-details.html">Services Details 1</a></li>
                                            <li><a href="service-details2.html">Services Details 2</a></li>
                                           
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Projects</a>
                                        <ul>
                                            <li><a href="projects-classic.html">Projects</a></li>
                                            <li><a href="projects-fullwidth.html">Project Full Screen</a></li>
                                            <li><a href="projects-masonry.html">Project Masonry</a></li>
                                            
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-2.html">blog Style 2</a></li>
                                            <li><a href="blog-detail.html">Blog Details</a></li>
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                            <li><a href="faq.html">Faq's</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
											
                                        </ul>
                                    </li>
                                     <li class="dropdown"><a href="shop.html">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Main shop page</a></li>
                                            <li><a href="product-detail.html">Product Detail Page</a></li>
                                            <li><a href="cart-page.html">Cart Page</a></li>
											<li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
						</div>
					</nav>
					<!-- Main Menu End-->
					
					<!-- Outer Box -->
					<div class="outer-box clearfix">
						<div class="search-box-btn"><span class="icon flaticon-magnifying-glass-1"></span></div>
					</div>
				</div>
			</div>
            
        </div>
        <!--End Header Upper-->

    	<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
				<!--Social Links-->
				<div class="social-links">
					<ul class="clearfix">
						<li><a href="#"><span class="fab fa-twitter"></span></a></li>
						<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
						<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
						<li><a href="#"><span class="fab fa-instagram"></span></a></li>
						<li><a href="#"><span class="fab fa-youtube"></span></a></li>
					</ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->

    <!-- Main Slider -->
	<section class="main-slider style-three">
		<div class="slider-box">
		
			<!-- Banner Carousel -->
			<div class="banner-carousel owl-theme owl-carousel">
			
				<!-- Slide -->
				<div class="slide">
                	<div class="image-layer" style="background-image:url(images/main-slider/slider1.jpg)"></div>
					<div class="auto-container">
						<div class="content">
							<h2>Moving every customer <br> with care.</h2>
							<div class="text">We constantly delivering the best is taken care of with the help of our Products Durability, Products Comfort and Products Attractiveness.</div>
							<div class="btns-box">
								<a href="#" class="theme-btn btn-style-one"><span class="txt">Read More</span></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Slide -->
				<div class="slide">
                	<div class="image-layer" style="background-image:url(images/main-slider/slider8.jpg)"></div>
					<div class="auto-container">
						<div class="content">
							<h2>From here You’re  <br> Almost There.</h2>
							<div class="text">We constantly delivering the best is taken care of with the help of our Products Durability, Products Comfort and Products Attractiveness.</div>
							<div class="btns-box">
								<a href="#" class="theme-btn btn-style-one"><span class="txt">Read More</span></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Slide -->
				<div class="slide">
                	<div class="image-layer" style="background-image:url(images/main-slider/slider5.jpg)"></div>
					<div class="auto-container">
						<div class="content">
							<h2>We Preferred Safety, <br> Quality, Professionalism</h2>
							<div class="text">We constantly delivering the best is taken care of with the help of our Products Durability, Products Comfort and Products Attractiveness.</div>
							<div class="btns-box">
								<a href="#" class="theme-btn btn-style-one"><span class="txt">Read More</span></a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Banner Section -->
	
	<!-- Mission Section -->
    <section class="mission-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				
				
				<!-- Content Column -->
				<div class="content-column col-xl-9 col-lg-8 col-md-12 col-sm-12">
					<!-- <div class="inner-column"> -->
						<h2>Welcome to the<span class="color"> MyLogistics</span> And <span class="color">Transportation</span></h2>
						<div class="bold-text">25+ Years of Experience in logistics services</div>
						<div class="text">Mylogistics is a Leading Provider of Quality Packers And Movers in world. With our Experience of over 25+ Years in the Industry, the company is highly skilled and is equipped with the best of facilities to match all High Quality Moving Standards.
We constantly delivering the best is taken care of with the help of our Products Durability, Products Comfort and Products Attractiveness.We offer a wide range of Moving And Packing, logistics, transportation Upholestery Services in all over the world.</div>
						<h3>Our Awosome Features…</h3>
						<div class="row clearfix">
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-three">
									<li> 4 years material warranty.</li>
									<li> 1000+ projects has been completed.</li>
									<li> 499+ professinals are available.</li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-three">
									<li> Available on 10+ countries.</li>
									<li> A world-class port.</li>
									<li> Endless possibilities.</li>
								</ul>
							</div>
						</div>
					<!-- </div> -->
				</div>
				<!-- Image Column -->
				<div class="image-column col-xl-3 col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="images/resource/3.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Mission Section -->
	
	<!-- Services Section Four -->
	<section class="services-section-three">
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="sec-title dark centered">
				<h2>Our Excellent <span class="color">Services</span></h2>
				<div class="text">We provides our clients excellent, trustworthy and safe logistics services, having all you need to insure your freight without depending where the destination is or how big is the shipment.</div>
			</div>
			
			<div class="row clearfix">
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="services-light.html"><img src="images/resource/service-8.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="services-light.html">Machinery Transport</a></h3>
							<div class="text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div>
							<a href="services-light.html" class="read-more">Read more</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="services-light.html"><img src="images/resource/service-9.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="services-light.html">Warehousing Services</a></h3>
							<div class="text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div>
							<a href="services-light.html" class="read-more">Read more</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="services-light.html"><img src="images/resource/service-10.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="services-light.html">Commercial Relocation</a></h3>
							<div class="text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div>
							<a href="services-light.html" class="read-more">Read more</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="750ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="services-light.html"><img src="images/resource/service-11.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="services-light.html">Cargo Services</a></h3>
							<div class="text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div>
							<a href="services-light.html" class="read-more">Read more</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="750ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="services-light.html"><img src="images/resource/service-12.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="services-light.html">Multimodal Transportation</a></h3>
							<div class="text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div>
							<a href="services-light.html" class="read-more">Read more</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="750ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="services-light.html"><img src="images/resource/service-13.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="services-light.html">Transportation</a></h3>
							<div class="text">Lorem Ipsum is simply my text of the printing and Ipsum is the Ipsum is simply.</div>
							<a href="services-light.html" class="read-more">Read more</a>
						</div>
					</div>
				</div>
				
			</div>
		
			
		</div>
	</section>
	<!-- End Services Section -->
	

	<!-- Featured Process Section -->
	<section class="featured-section" style="background-image: url(images/background/2.jpg)">
		<div class="auto-container">
			<!-- Title Box -->
			<div class="title-box">
				<h2>How we <span class="color">work</span>, our working <span class="color">process</span> </h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Feature Block -->
				<div class="feature-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-outer">
							<div class="icon-box">
								<span class="icon flaticon-discussion-1"></span>
							</div>
							<div class="feature-number">01</div>
						</div>
						<div class="lower-content">
							<h3><a href="#">Materials handling</a></h3>
							<div class="text">Our manpower is a fair blend of experience, knowledge to imagination. They have impeccable skill-sets to project management ability.</div>
						</div>
					</div>
				</div>
				
				<!-- Feature Block -->
				<div class="feature-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="icon-outer">
							<div class="icon-box">
								<span class="icon flaticon-apartment-1"></span>
							</div>
							<div class="feature-number">02</div>
						</div>
						<div class="lower-content">
							<h3><a href="#">Packaging & unitisation</a></h3>
							<div class="text">Our manpower is a fair blend of experience, knowledge to imagination. They have impeccable skill-sets to project management ability.</div>
						</div>
					</div>
				</div>
				
				<!-- Feature Block -->
				<div class="feature-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="500ms" data-wow-duration="1500ms">
						<div class="icon-outer">
							<div class="icon-box">
								<span class="icon flaticon-sketch"></span>
							</div>
							<div class="feature-number">03</div>
						</div>
						<div class="lower-content">
							<h3><a href="#">Inventory</a></h3>
							<div class="text">Our manpower is a fair blend of experience, knowledge to imagination. They have impeccable skill-sets to project management ability.</div>
						</div>
					</div>
				</div>
				
				<!-- Feature Block -->
				<div class="feature-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="750ms" data-wow-duration="1500ms">
						<div class="icon-outer">
							<div class="icon-box">
								<span class="icon flaticon-delivery-truck"></span>
							</div>
							<div class="feature-number">04</div>
						</div>
						<div class="lower-content">
							<h3><a href="#">Transport</a></h3>
							<div class="text">Our manpower is a fair blend of experience, knowledge to imagination. They have impeccable skill-sets to project management ability.</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Featured Section -->
	
	
	
	
	<!-- Project Section Three -->
	<section class="project-section-three">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered dark">
				<h2>Our Latest <span class="color">Projects</span> </h2>
			</div>
		</div>
		<div class="outer-container">
			
			<!--Porfolio Tabs-->
			<div class="project-tab">
				<div class="auto-container">
					
					<div class="tab-btns-box">
						<!--Tabs Header-->
						<div class="tabs-header">
							<ul class="project-tab-btns clearfix">
								<li class="p-tab-btn active-btn" data-tab="#p-tab-1">All Projects</li>
								<li class="p-tab-btn" data-tab="#p-tab-2">Warehouse</li>
								<li class="p-tab-btn" data-tab="#p-tab-3">Commercial</li>
								<li class="p-tab-btn" data-tab="#p-tab-4">Transportaion</li>
								<li class="p-tab-btn" data-tab="#p-tab-5">Cargo</li>
							</ul>
						</div>
					</div>
					
				</div>
				
				<!--Tabs Content-->  
				<div class="p-tabs-content">
				
					<!--Portfolio Tab / Active Tab-->
					<div class="p-tab active-tab" id="p-tab-1">
						<div class="project-carousel owl-theme owl-carousel">
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/13.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Warehouse</a></h3>
													<a href="images/gallery/13.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/13.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Transportation</a></h3>
													<a href="images/gallery/13.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/14.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Transportation</a></h3>
													<a href="images/gallery/14.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/15.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Multimodel</a></h3>
													<a href="images/gallery/15.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/16.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Multimodel</a></h3>
													<a href="images/gallery/16.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
						</div>
					</div>
					
					<!--Portfolio Tab -->
					<div class="p-tab" id="p-tab-2">
						<div class="project-carousel owl-theme owl-carousel">
							
						
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/14.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Commercial Relocation</a></h3>
													<a href="images/gallery/14.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/15.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Commercial Relocation</a></h3>
													<a href="images/gallery/15.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/16.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">House Relocation</a></h3>
													<a href="images/gallery/16.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/13.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Cargo</a></h3>
													<a href="images/gallery/13.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/14.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Multimodel</a></h3>
													<a href="images/gallery/14.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
						</div>
					</div>
					
					<!--Portfolio Tab -->
					<div class="p-tab" id="p-tab-3">
						<div class="project-carousel owl-theme owl-carousel">
							
							
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/15.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Transport</a></h3>
													<a href="images/gallery/15.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/16.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Commercial Relocation</a></h3>
													<a href="images/gallery/16.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/13.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Homne Relocation</a></h3>
													<a href="images/gallery/13.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
						</div>
					</div>
					
					<!--Portfolio Tab -->
					<div class="p-tab" id="p-tab-4">
						<div class="project-carousel owl-theme owl-carousel">
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/13.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Cargo</a></h3>
													<a href="images/gallery/13.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/14.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Multimodel</a></h3>
													<a href="images/gallery/14.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/15.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Machinary Transport</a></h3>
													<a href="images/gallery/15.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
						
							
						</div>
					</div>
					
					<!--Portfolio Tab -->
					<div class="p-tab" id="p-tab-5">
						<div class="project-carousel owl-theme owl-carousel">
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/15.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Logistics</a></h3>
													<a href="images/gallery/15.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/16.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Commercial Relocation</a></h3>
													<a href="images/gallery/16.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							<!-- Gallery Item -->
							<div class="gallery-item">
								<div class="inner-box">
									<figure class="image-box">
										<img src="images/gallery/13.jpg" alt="">
										<!--Overlay Box-->
										<div class="overlay-box">
											<div class="overlay-inner">
												<div class="content">
													<h3><a href="projects-fullwidth.html">Cargo</a></h3>
													<a href="images/gallery/13.jpg" data-fancybox="gallery-3" data-caption="" class="link"><span class="icon flaticon-magnifying-glass-1"></span></a>
													<a href="projects-fullwidth.html" class="link"><span class="icon flaticon-unlink"></span></a>
												</div>
											</div>
										</div>
									</figure>
								</div>
							</div>
							
							
							
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Project Section Three -->
	
	<!-- Team Section -->
	<section class="team-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title light centered">
				<h2>Our <span class="color"> Experts</span></h2>
				<div class="text">Our caregivers are trained specifically to provide in-home care.</div>
			</div>
			
			<div class="clearfix">
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/team-1.jpg" alt="" />
							<div class="overlay-box">
								<ul class="social-icons">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-skype"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="lower-content">
							<h3><a href="team.html">Joe Steve</a></h3>
							<div class="designation">CEO</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/team-2.jpg" alt="" />
							<div class="overlay-box">
								<ul class="social-icons">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-skype"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="lower-content">
							<h3><a href="team.html">Henry Root</a></h3>
							<div class="designation">Managing Director</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/team-3.jpg" alt="" />
							<div class="overlay-box">
								<ul class="social-icons">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-skype"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="lower-content">
							<h3><a href="team.html">Mark Starc</a></h3>
							<div class="designation">Bussiness Head</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/team-4.jpg" alt="" />
							<div class="overlay-box">
								<ul class="social-icons">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-skype"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="lower-content">
							<h3><a href="team.html">Alex Wind</a></h3>
							<div class="designation">Operation Head</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Team Section -->


		<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title-two centered">
				<h2>What our <span class="color">client say</span></h2>
				<div class="title-text">Just Look What Our Clients Say.</div>
			</div>
			
			<div class="testimonial-carousel owl-carousel owl-theme">
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="content">
							<div class="image-outer">
								<div class="image">
									<img src="images/resource/author-1.jpg" alt="" />
								</div>
							</div>
							<h3>Pranil</h3>
							<div class="title">Awosome</div>
							<div class="text">“Working with on a daily basis is a pleasure, based on their efficiency when it comes to transporting both our finished and returned goods in a timely and secure manner.”</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="content">
							<div class="image-outer">
								<div class="image">
									<img src="images/resource/author-2.jpg" alt="" />
								</div>
							</div>
							<h3>Pranil</h3>
							<div class="title">Nice</div>
							<div class="text">“Since we started working with, we've seen our supply chain improve considerably. It is vital that our components and generators arrive safely to our customers,they have delivered on their promises.”</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="content">
							<div class="image-outer">
								<div class="image">
									<img src="images/resource/author-1.jpg" alt="" />
								</div>
							</div>
							<h3>Pranil</h3>
							<div class="title">Awosome</div>
							<div class="text">“As always, once again came through for us when the shipment had to be there. I know I can always count on you and I can go home and let you handle it. That is priceless. Thanks again.”</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="content">
							<div class="image-outer">
								<div class="image">
									<img src="images/resource/author-2.jpg" alt="" />
								</div>
							</div>
							<h3>Pranil</h3>
							<div class="title">Nice</div>
							<div class="text">“My team and I appreciate the way that you are always on the ball and willing to go out of your way to help get us our material in time to prevent our lines from going down. Nice Job!”</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	<!--Main Footer-->
    <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                    </div>
                                    <div class="text">With our Experience of over 25+ Years in the Industry, the company is highly skilled and is equipped with the best of facilities to match all High Quality Moving Standards.</div>
                                    <ul class="social-icons">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                    </ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                	<h2>Our Services</h2>
									<div class="widget-content">
										<ul class="list">
                                        	<li><a href="#">Warehousing</a></li>
                                            <li><a href="#">Machinery Transport</a></li>
                                            <li><a href="#">Transportation</a></li>
                                            <li><a href="#">Multimodal Transportation</a></li>
                                        </ul>
                                    </div>
								</div>
							</div>
						
						</div>
					</div>
					
					<!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
									<h2>Contact Details</h2>
									<div class="widget-content">
									
										<ul> 
											<li><span class="icon flaticon-phone-call"></span><a href="tel:1234567891">(1234) 567 8910</a></li>
											<li><span class="icon flaticon-map"></span> 000, Mumbai, India</li>
											<li><span class="icon flaticon-email"></span><a href="mailto:youremail@example.com"> youremail@example.com</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget newsletter-widget">
                                	<h2>Quick Inquiry</h2>
									<!-- contact Form -->
									<div class="newsletter-form">
										<form method="post" action="contact-footer.php">
											<div class="form-group">
												<input type="text" name="name" value="" placeholder="Your Name" required>
												<input type="email" name="email" value="" placeholder="Your Email" required>
												<input type="text" name="message" value="" placeholder="Message" required>
												<button type="submit" class="theme-btn btn-style-one"><span class="txt">Submit</span></button>
											</div>
										</form>
									</div>
								</div>
							</div>
						
						</div>
					</div>
					
				</div>
			</div>
			
			<!--Footer Bottom-->
            <div class="footer-bottom clearfix">
                <div class="pull-left">
                    <div class="copyright"><a href="#">© Yoursite 2021 All Right Reserved.</a></div>
                </div>
                <div class="pull-right">
                    <a href="#">Terms & Conditions |</a>
                    <a href="#">Privacy Policy |</a>
                    <a href="#">Disclaimer</a>
                </div>
            </div>
			
		</div>
	</footer>
	
</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="#">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Home Interiors</a></li>
                <li><a href="#">Offices Interiors</a></li>
                <li><a href="#">Showroom Interiors</a></li>
                <li><a href="#">Building Interiors</a></li>
                <li><a href="#">Shops Interiors</a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<!--Scroll to top-->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/validate.js"></script>
<script src="js/appear.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/script.js"></script>
</body>

</html>