{% extends 'new/base.html' %}
{% load static %}
{% block content %}



    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'new/images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h2>Services</h2>
            <ul class="page-breadcrumb">
            	<li><a href="{% url 'home' %}">home</a></li>
                <li>Our Services</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Services Page Section -->
	<section class="services-page-section" style="background-color: white;color: black;">
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="sec-title light centered">
				<h2 style="text-align: left;color: black;">Our Awesome <span class=""> Services</span></h2>
				<div style="text-align: left;color: black;" class="text">Mylogistics Packers And Movers is a Leading Provider of Quality Packers And Movers in World.We are specialist in providing following services like Home Relocation,Residential Relocation Services,Corporate Relocation Services,Warehousing Services, Packing Services,Commercial/office Relocation Services,Car Transportation,Industrial Machinery Relocation,Two Wheeler Transportation. We are Commited for customer's or clients 100% satisfaction</div>
			</div>
			
			<div class="row clearfix">
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a><img src="{% static 'new/images/resource/service-8.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a>Warehouse</a></h3>
							<!-- <div class="text">Override the digital divide with additional clickthroughs from DevOps. Nanotech Nology imme rsion along the information highway will close the loop.</div> -->
							<!-- <a href="#" class="read-more">Read more</a> -->
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="image">
							<a><img src="{% static 'new/images/resource/service-9.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a>Cargo</a></h3>
							<!-- <div class="text">Override the digital divide with additional clickthroughs from DevOps. Nanotech Nology imme rsion along the information highway will close the loop.</div> -->
							<!-- <a href="#" class="read-more">Read more</a> -->
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
						<div class="image">
							<a ><img src="{% static 'new/images/resource/service-10.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a >Supply Chain</a></h3>
							<!-- <div class="text">Override the digital divide with additional clickthroughs from DevOps. Nanotech Nology imme rsion along the information highway will close the loop.</div> -->
							<!-- <a href="#" class="read-more">Read more</a> -->
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a ><img src="{% static 'new/images/resource/service-11.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a >Transportation</a></h3>
							<!-- <div class="text">Override the digital divide with additional clickthroughs from DevOps. Nanotech Nology imme rsion along the information highway will close the loop.</div> -->
							<!-- <a href="#" class="read-more">Read more</a> -->
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="image">
							<a ><img src="{% static 'new/images/resource/service-12.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a >Commercial Relocation</a></h3>
							<!-- <div class="text">Override the digital divide with additional clickthroughs from DevOps. Nanotech Nology imme rsion along the information highway will close the loop.</div> -->
							<!-- <a href="#" class="read-more">Read more</a> -->
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="image">
							<a ><img src="{% static 'new/images/resource/service-13.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a>Multimodal Transportation</a></h3>
							<!-- <div class="text">Override the digital divide with additional clickthroughs from DevOps. Nanotech Nology imme rsion along the information highway will close the loop.</div> -->
							<!-- <a href="#" class="read-more">Read more</a> -->
						</div>
					</div>
				</div>
		
		</div>

		</div>
	</section>
	<!-- End Story Section -->
<section class="counter-section" style="background-color: white;">
		<div class="auto-container">
		<div class="sec-title light centered">
				<h2 style="color: black;">Our Awesome <span class=""> Numbers</span></h2>
			
			</div>
			<!-- Fact Counter -->
			<div class="fact-counter">
				<div class="row clearfix">

					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
							<div class="content">
								<div style="color: black;" class="count-outer count-box counted">
									<span class="count-text" data-speed="2500" data-stop="25" style="color: black;">25</span> Years
								</div>
								<h4 style="text-align: center;" class="counter-title" style="color: black;">Material Warranty</h4>
							</div>
						</div>
					</div>

					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInLeft;">
							<div class="content">
								<div class="count-outer count-box alternate counted" style="color: black;">
									<span class="count-text" data-speed="3000" data-stop="2500" style="color: black;">2500</span>+
								</div>
								<h4 style="text-align: center;" class="counter-title" style="color: black;">Order Completed</h4>
							</div>
						</div>
					</div>

					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInLeft;">
							<div class="content">
								<div class="count-outer count-box counted" style="color: black;">
									<span class="count-text" data-speed="3000" data-stop="300" style="color: black;">300</span>+
								</div>
								<h4 style="text-align: center;" class="counter-title" style="color: black;">Team Member's</h4>
							</div>
						</div>
					</div>
					
					<!--Column-->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft animated" data-wow-delay="900ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 900ms; animation-name: fadeInLeft;">
							<div class="content">
								<div class="count-outer count-box counted "style="color: black;">
									<span class="count-text" data-speed="2500" data-stop="20" style="color: black;">20</span> Days
								</div>
								<h4 style="text-align: center;" class="counter-title" style="color: black;">Delivery</h4>
							</div>
						</div>
					</div>

				</div>
			</div>
			
		</div>
	</section>

	
	<!-- Call To Action Section -->
	<section class="call-to-action-section" style="background-image: url({% static 'new/images/background/1.jpg' %})">
		<div class="auto-container">
		    <div class="row clearfix">
			<div class="col-lg-8">
                 <h4 style="color: white;text-align: left;font-family:Roboto;">Let us move you with honesty.</h4>
			</div>
			<div class="col-lg-4">
                 <a href="{% url 'contact' %}" class="theme-btn btn-style-two"><span class="txt">contact us</span></a>
			</div>
			</div>
		</div>
	</section>
	<!-- End Call To Action Section -->

{% endblock %}