<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>MyLogistics - Transportaion Html Responsive Template Service Details</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body class="dark-layout">

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <header class="main-header header-style-one">
        <!--Header Top-->
        <div class="header-top">
        <div class="auto-container clearfix">
                <div class="top-left clearfix">
                    <div class="text"><span class="icon flaticon-call-answer"></span> Need help? Call Us Now : <a href="tel:1800-456-7890" class="number">1234 567 8910</a></div>
                    
                </div>
                <div class="top-right clearfix">
                    <!-- Info List -->
                    <ul class="info-list">
                       
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <!--Info-->
                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler For Mobile--><div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-1"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="index.html">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home page 01</a></li>
                                            <li><a href="index-2.html">Home page 02</a></li>
                                            <li><a href="index-3.html">Home page 03</a></li>
                                            <li><a href="index-4.html">Home page 04</a></li>
                                        
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">About us</a>
                                        <ul>
                                            <li><a href="about.html">Company Profile</a></li>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                        </ul>
                                    </li>
                                    <li class="current dropdown"><a href="#">Our Services</a>
                                        <ul>
                                            <li><a href="services-dark.html">Services Style1 Dark</a></li>
                                            <li><a href="services-light.html">Services Style2 Light</a></li>
                                            <li><a href="service-details.html">Services Details 1</a></li>
                                            <li><a href="service-details2.html">Services Details 2</a></li>
                                           
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Projects</a>
                                        <ul>
                                            <li><a href="projects-classic.html">Projects</a></li>
                                            <li><a href="projects-fullwidth.html">Project Full Screen</a></li>
                                            <li><a href="projects-masonry.html">Project Masonry</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-2.html">blog Style 2</a></li>
                                            <li><a href="blog-detail.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                            <li><a href="faq.html">Faq's</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                            
                                        </ul>
                                    </li>
                                     <li class="dropdown"><a href="shop.html">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Main shop page</a></li>
                                            <li><a href="product-detail.html">Product Detail Page</a></li>
                                            <li><a href="cart-page.html">Cart Page</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                        <!-- Outer Box -->
                        <div class="outer-box clearfix">
                            <div class="search-box-btn"><span class="icon flaticon-magnifying-glass-1"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
                <!--Social Links-->
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/5.jpg)">
    	<div class="auto-container">
        	<h2>Services Details Dark</h2>
            <ul class="page-breadcrumb">
            	<li><a href="index-2.html">home</a></li>
				<li>Services</li>
                <li>Services Details Dark</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
				<!--Content Side / Services Detail -->
                <div class="content-side col-xl-9 col-lg-8 col-md-12 col-sm-12">
                        <div class="sec-title light">
                <h2>Packing And<span class="color"> Transportation</span></h2></div>
                	<div class="services-detail">
						<div class="inner-box">
							<div class="bold-text">Packing And Transportation</div>
							<div class="text">
								<p>Mylogistics Packers And Movers provides services for packing and moving your goods from one place to another place whenever you want to shift your goods. With the 25+ years of Packing and Moving and industrial experience, we are Commited to offering a quality range of packing & moving services to our clients.</p>
                                <p>We Packers And Movers Also Provide a Residential relocation services in all over countries in world. Residential relocation is most difficult and involves a lot of risk and work in it. It is not possible for a one person to handle the entire Residential relocation process we Packers And Movers can make it possible.</p>
								<!-- Two Column -->
								<div class="two-column">
									<div class="row clearfix">
										<div class="column col-lg-4 col-md-4 col-sm-12">
											<div class="image">
												<img src="images/resource/2.jpg" alt="" />
											</div>
											
										</div>
										<div class="content-column col-lg-8 col-md-8 col-sm-12">
											 <div class="inner-column">
                                                <h3>Why Choose Us for Logistics & Transportation ?</h3>
                                                <p>Mylogistics is a Leading Provider of Quality Packers And Movers in world. With our Experience of over 25+ Years in the Industry, the company is highly skilled and is equipped with the best of facilities to match all High Quality Moving Standards.</p>
                                                <p>We constantly delivering the best is taken care of with the help of our Products Durability, Products Comfort and Products Attractiveness.We offer a wide range of Moving And Packing, logistics, transportation Upholestery Services in all over the world.</p>
                                                <p>We provides our clients excellent, trustworthy and safe logistics services, having all you need to insure your freight without depending where the destination is or how big is the shipment</p>
                                            </div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
				<!--Sidebar Side-->
				<div class="sidebar-side col-xl-3 col-lg-4 col-md-12 col-sm-12">
					<aside class="sidebar">
						
						<!-- Sidebar Widget / List Widget-->
                        <div class="sidebar-widget list-widget">
							<!-- Services List -->
							 <ul class="services-list">
                                <li class="active"><a href="#">Packing & Transportation</a></li>
                                <li><a href="#">Cargo</a></li>
                                <li><a href="#">Commercial Relocation</a></li>
                                <li><a href="#">Transportation</a></li>
                                <li><a href="#">Residential Relocation</a></li>
                                <li><a href="#">Warehouse</a></li>
                                <li><a href="#">Multimodal Transportation</a></li>
                                <li><a href="#">Machinery Relocation</a></li>
                            </ul>
						</div>
						
						<!-- Sidebar Widget / Contact Widget-->
                        <div class="sidebar-widget contact-widget">
							<div class="widget-content" style="background-image: url(images/background/7.jpg);">
								<h3>Book Appointment</h3>
								<a href="contact.html" class="theme-btn btn-style-one"><span class="txt">contact us</span></a>
							</div>
						</div>
					
					</aside>
				</div>
				
			</div>

             <div class="row clearfix" id="dark">
                   <div class="col-lg-4">
                           <ul class="list-style-three">
                            <li>4 years material warranty.</li>
                            <li>1000+ projects has been completed.</li>
                            <li>499+ professinals are available.</li>
                           </ul>
                    </div>
                    <div class="col-lg-4">
                           <ul class="list-style-three">
                            <li>15+ awards.</li>
                            <li>Available on 10+ countries. </li>
                            <li>Borderless logistics.</li>
                           </ul>
                    </div>
                    <div class="col-lg-4">
                           <ul class="list-style-three">
                            <li>A world-class port.</li>
                            <li>Endless possibilities.</li>
                            <li>Happiness delivered.</li>
                           </ul>
                    </div>
                          

            </div>
		</div>
	</div>
    <!-- Call To Action Section -->
    <section class="call-to-action-section" style="background-image: url(images/background/1.jpg)">
        <div class="auto-container">
            <div class="row clearfix">
            <div class="col-lg-8">
                 <h2>Let us move you with honesty and greatness.</h2>
            </div>
            <div class="col-lg-4">
                 <a href="contact.html" class="theme-btn btn-style-two"><span class="txt">contact us</span></a>
            </div>
            </div>
        </div>
    </section>
    <!-- End Call To Action Section -->
<!--Main Footer-->
    <footer class="main-footer">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    
                    <!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                    </div>
                                    <div class="text">With our Experience of over 25+ Years in the Industry, the company is highly skilled and is equipped with the best of facilities to match all High Quality Moving Standards.</div>
                                    <ul class="social-icons">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h2>Our Services</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">Warehousing</a></li>
                                            <li><a href="#">Machinery Transport</a></li>
                                            <li><a href="#">Transportation</a></li>
                                            <li><a href="#">Multimodal Transportation</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
                                    <h2>Contact Details</h2>
                                    <div class="widget-content">
                                    
                                        <ul> 
                                            <li><span class="icon flaticon-phone-call"></span><a href="tel:1234567891">(1234) 567 8910</a></li>
                                            <li><span class="icon flaticon-map"></span> 000, Mumbai, India</li>
                                            <li><span class="icon flaticon-email"></span><a href="mailto:youremail@example.com"> youremail@example.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget newsletter-widget">
                                    <h2>Quick Inquiry</h2>
                                    <!-- contact Form -->
                                    <div class="newsletter-form">
                                        <form method="post" action="contact-footer.php">
                                            <div class="form-group">
                                                <input type="text" name="name" value="" placeholder="Your Name" required>
                                                <input type="email" name="email" value="" placeholder="Your Email" required>
                                                <input type="text" name="message" value="" placeholder="Message" required>
                                                <button type="submit" class="theme-btn btn-style-one"><span class="txt">Submit</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Footer Bottom-->
            <div class="footer-bottom clearfix">
                <div class="pull-left">
                    <div class="copyright"><a href="#">© Yoursite 2021 All Right Reserved.</a></div>
                </div>
                <div class="pull-right">
                    <a href="#">Terms & Conditions |</a>
                    <a href="#">Privacy Policy |</a>
                    <a href="#">Disclaimer</a>
                </div>
            </div>
            
        </div>
    </footer>
	
</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="#">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
       
        
        </div>
        
    </div>
</div>

<!--Scroll to top-->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/isotope.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/script.js"></script>
</body>

</html>