{% extends 'log/base.html' %}
{% load static %}
{% block content %}

    <!-- ##### Welcome Area Start ##### -->
    <div class="breadcumb-area">
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s">FAQ Questions</h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->
    <br><br>

                    <div style="font-size: large;margin-left: 40px;margin-right: 40px;" class="search-widget-area mb-50 wow fadeInUp" data-wow-delay="0.2s" >      
                        <form  method="get" action="{% url 'search' %}">
                            <input type="search" name="q" value="{{ request.GET.q }}" id="search" style="background-color: rgb(75, 75, 185);color: white;border-color: red;font-size: larger;" placeholder="Track...">
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
    <!-- ##### FAQ & Timeline Area Start ##### -->
    <div class="section-padding-100-85" id="faq">
        <div class="container">
            <div class="section-heading text-center">
                
                <div class="more-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                    <span class="">Frequently asked</span>
                </div>
                <h2 class="fadeInUp" data-wow-delay="0.3s">  Frequently Questions</h2>
                <p class=" fadeInUp" data-wow-delay="0.4s">You can find the answers to frequently asked questions regarding transport logistic here.</p>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-sm-12">
                    <div class="wow fadeInUp" data-wow-delay="0.7s">
                        <img src="{% static 'co/img/core-img/about1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="more-btn-group hos mt-s ">
                        <dl style="margin-bottom:0">
                            <!-- Single FAQ Area -->
                            <dt class="v2 wave fadeInUp" data-wow-delay="0.2s">- WHO HAS ACCESS TO MY PERSONAL INFORMATION?</dt>
                            <dd class="fadeInUp" data-wow-delay="0.3s">
                                <p>We do not share any of your information to anyone, Your data are always safe with us</p>
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="v2 wave fadeInUp" data-wow-delay="0.3s">- WHAT KIND OF STAND TYPES DO YOU OFFER? </dt>
                            <dd>
                                <p>Stay on budget with accurate calculations and transparent cost control. </p>
                            </dd>
                            <dt class="v2 wave fadeInUp" data-wow-delay="0.2s">- I AM A SMALL START-UP, CAN TRANMIX HELP ME?</dt>
                            <dd class="fadeInUp" data-wow-delay="0.3s">
                                <p>Yes, we love working with small and emerging companies. Sologistx provides the expertise and support to help your company scale.</p>
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="v2 wave fadeInUp" data-wow-delay="0.4s">- WHAT MODES AND SERVICES DOES SOLOGISTX PROVIDE?</dt>
                            <dd>
                                <p>We offer services for international and domestic freight, small parcel shipping, B 2 C solutions, freight and parcel audit and reporting, and overall supply chain management.</p>
                            </dd>
                            
                        </dl>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ##### FAQ & Timeline Area End ##### -->

    <section class="facts-bg section-padding-100 clearfix">
        <div class="container">
            
            <div class="row align-items-center">

                <div class="col-12">
                    <div class="fact-box col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <div class="content">
                                <div class="cool_fact_icon">
                                    <img src="{% static 'co/img/icons/f1.png' %}" alt="">
                                </div>
                                <div class="count-outer">
                                    <span class="count-text counter">30+</span>
                                </div>
                                <div class="counter-title w-text">Tons transported</div>
                            </div>
                        </div>
                    </div>

                    <div class="fact-box col-lg-3 col-md-6 col-sm-12 col-xs-12 fact-box-sm">
                      <div class="inner">
                          <div class="content">
                            <div class="cool_fact_icon">
                                <img src="{% static 'co/img/icons/f2.png' %}" alt="">
                            </div>
                              <div class="count-outer">
                                  <span class="count-text counter">341</span>
                              </div>
                              <div class="counter-title w-text">Our Employees</div>
                          </div>
                      </div>
                    </div>

                    <div class="fact-box col-lg-3 col-md-6 col-sm-12 col-xs-12 fact-box-sm">
                      <div class="inner">
                          <div class="content">
                            <div class="cool_fact_icon">
                                <img src="{% static 'co/img/icons/f3.png' %}" alt="">
                            </div>
                              <div class="count-outer">
                                  <span class="count-text counter">10+</span>
                              </div>
                              <div class="counter-title w-text">Years of experience</div>
                          </div>
                      </div>
                    </div>

                     <div class="fact-box col-lg-3 col-md-6 col-sm-12 col-xs-12 fact-box-sm">
                      <div class="inner">
                          <div class="content">
                            <div class="cool_fact_icon">
                                <img src="{% static 'co/img/icons/f4.png' %}" alt="">
                            </div>
                              <div class="count-outer">
                                  <span class="count-text counter">200</span>
                              </div>
                              <div class="counter-title w-text">Partners worldwide</div>
                          </div>
                      </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- ##### Team Area Start ##### -->
    
    <!-- ##### Team Area End ##### -->


    <!-- ##### Testimonial Area Start ##### -->
    <br><br>
    <div class="text-center section-padding-0-0">
        <div class="container">
            <div class="call-us-sec con-info">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8">
                        <div class="text-left">
                            <h3 class="g-text fadeInUp" data-wow-delay="0.3s">Get Your Quote or Call: +14058714233</h3>
                            <h2 class="w-text mb-0">Are You Ready? Book Appointment!</h2>
                            <a class="btn-paint mt-30 fadeInUp" data-wow-delay="0.6s" href="{% url 'contact' %}">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="con-img-wrapper">
                            <img src="{% static 'co/img/core-img/about-4.png' %}" class="con-img mt-s" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    

    <div class="footer-bg">
        <!-- ##### Testimonial Area Start ##### -->
        <section class="clients_testimonials_area bg-img section-padding-0-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            
                            <div class="more-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                                <span class="gradient-text blue">Our Testimonials</span>
                            </div>
                            <h2 class=" wow fadeInUp" data-wow-delay="0.3s">What Our Client Say</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">We can tell you how great Tranmix is, but we think it’s always better to let our happy clients do the talking – so here are a selection of comments and testimonials which we have gathered over the years, from a huge range of clients in many different industries.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cotainer-fluid">
                <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-12 col-md-10 col-xs-10 offset-xs-1">
                        <div class="client_slides owl-carousel">

                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="icon_wrapper">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <!-- Testimonial Image -->
                                <div class="testimonial_image">
                                    <img src="{% static 'co/img/test-img/1.jpg' %}" alt="">
                                </div>
                                <!-- Testimonial Feedback Text -->
                                <div class="testimonial-description">
                                    <div class="testimonial_text">
                                        <p>"Tranmix has been a trusted, reliable partner for Bailiwick since the first shipment they picked up. They give me peace of mind knowing that my US shipments will get to their destinations on time and in good condition. Using Tranmix allows me to focus on other aspects of the job rather than worrying about logistics issues."</p>
                                    </div>

                                    <!-- Admin Text -->
                                    <div class="admin_text">
                                        <h5>James Cole</h5>
                                        <p>One of Our Clientss</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="icon_wrapper">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <!-- Testimonial Image -->
                                <div class="testimonial_image">
                                    <img src="{% static 'co/img/test-img/2.jpg' %}" alt="">
                                </div>
                                <!-- Testimonial Feedback Text  -->
                                <div class="testimonial-description">
                                    <div class="testimonial_text">
                                        <p>“As always, SEKO once again came through for us when the shipment had to be there. I know I can always count on you and I can go home and let you handle it. That is priceless. Thanks again.”</p>
                                    </div>

                                    <!-- Admin Text -->
                                    <div class="admin_text">
                                        <h5>Andrea Smith</h5>
                                        <p>One of Our Clientss</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="icon_wrapper">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <!-- Testimonial Image -->
                                <div class="testimonial_image">
                                    <img src="{% static 'co/img/test-img/3.jpg' %}" alt="">
                                </div>
                                <!-- Testimonial Feedback Text  -->
                                <div class="testimonial-description">
                                    <div class="testimonial_text">
                                        <p>“My team and I appreciate the way that you are always on the ball and willing to go out of your way to help get us our material in time to prevent our lines from going down. Nice Job!”</p>
                                    </div>
                                    <!-- Admin Text -->
                                    <div class="admin_text">
                                        <h5>Chloe Burd</h5>
                                        <p>One of Our Clientss</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- ##### Testimonial Area End ##### -->
<br>
{% endblock %}