<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Tranmix - Multipurpose Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body class="light-version">
    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <nav class="navbar navbar-expand-lg navbar-white fixed-top" id="banner">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="#"><span><img src="img/core-img/logo.png" alt="logo"></span> Tranmix</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Home</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="index-demo-1.html">Home style 1</a>
                            <a class="dropdown-item" href="index-demo-2.html">Home style 2</a>
                            <a class="dropdown-item" href="index-demo-3.html">Home style 3</a>
                            <a class="dropdown-item" href="index-demo-4.html">Home style 4</a>
                            <a class="dropdown-item" href="index-demo-5.html">Home style 5</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">FAQ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Blog</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="index-blog.html">Blog Posts</a>
                            <a class="dropdown-item" href="index-blog-with-sidebar.html">Sidebar Blog </a>
                            <a class="dropdown-item" href="index-single-blog.html">Blog Details</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact-us.html">Contact</a>
                    </li>
                    <li class="lh-55px"><a href="#" class="btn login-btn ml-50">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <section class="hero-section banner3-bg relative section-padding" id="home">

        <div class="hero-section-content">
            
            <div class="container h-100">
                <div class="row h-100 mb-50 align-items-center">

                    <!-- Welcome Content -->
                    <div class="col-12 col-lg-6 col-md-12">
                        <div class="welcome-content">
                            <div class="promo-section">
                                <h3 class="special-head w-text">Logistics & Transportation Company</h3>
                            </div>
                            <h1 class="w-text bolder fadeInUp" data-wow-delay="0.2s">We Are The Most Popular Logistics & Transportation Company in The City</h1>
                            <p class="g-text fadeInUp" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae soluta, dignissimos aut, assumenda dolore totam natus qui cum vel omnis voluptates.</p>
                            <div class="more-btn-group fadeInUp" data-wow-delay="0.4s">
                                <a href="#" class="btn-paint mr-3">contact us</a>
                                <a href="#" class="btn-paint"> Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->


    <div class="clearfix"></div>


    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area section-padding-100">
        
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 offset-lg-0 col-md-12">
                    <div class="fadeInUp" data-wow-delay="0.7s">
                        <img src="img/core-img/about1.png" alt="">
                    </div>
                </div>
                
                <div class="col-12 col-lg-6 offset-lg-0">
                    <div class="who-we-contant mt-s">
                        <div class="more-dots text-left fadeInUp" data-wow-delay="0.2s">
                            <span class="">Logistics & Transportation Company</span>
                        </div>
                        <h4 class="bold fadeInUp" data-wow-delay="0.3s">We are the most popular Logistics and Transportation company.</h4>
                        <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum risus, non suscipit arcu. sit amet convallis nunc scelerisque in. ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum risus, non suscipit arcu. sit amet convallis nunc scelerisque in.</p>
                        <div class="list-wrap align-items-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">Custom Painting Solutions</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">Color Consulting</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">Signage Painting</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">New Decor Constructions</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">kinds of painting finishes</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="side-feature-list-item">
                                        <i class="fa fa-check-square-o check-mark-icon-font" aria-hidden="true"></i>
                                        <div class="foot-c-info">24/7 Support Services</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <a class="btn-paint mt-30 fadeInUp" data-wow-delay="0.6s" href="about-us.html">Read More</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <section class="video-sec section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-sm-12">
                    <div class="welcome-video-area header-video">
                        <!-- Video Icon -->
                        <div class="video-icon">
                            <a href="https://www.youtube.com/watch?v=gbXEPHsTkgU" class="btn dream-btn video-btn" id="videobtn"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                    <div class="mt-50 text-center">
                       
                        <h2 class="w-text big-font mb-30 fadeInUp" data-wow-delay="0.2s">We open unlimited opportunities to develop Your business!</h2>
                        <p class="g-text mb-0 fadeInUp" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae soluta, dignissimos aut, assumenda dolore totam natus qui cum vel omnis voluptates.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hos-features section-padding-100-70">

        <div class="section-heading text-center">
            
            <div class="more-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                <span>Our Transport Ways</span>
            </div>
            <h2 class="wow fadeInUp bold" data-wow-delay="0.3s">Transportation Options</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <!-- Content -->
                    <div class="feature_single_content text-center fadeInUp" data-wow-delay="0.2s">
                        <div class="icon_wrapper">
                            <img src="img/icons/i3.png" alt="">
                        </div>
                        <!-- Icon -->
                        <div class="service_img">
                            <img src="img/core-img/ser3.jpg" class="" alt="">
                        </div>
                        <h6 class="feature-info">Truck Transportation</h6>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <!-- Content -->
                    <div class="feature_single_content text-center fadeInUp" data-wow-delay="0.4s">
                        <div class="icon_wrapper">
                            <img src="img/icons/i1.png" alt="">
                        </div>
                        <!-- Icon -->
                        <div class="service_img">
                            <img src="img/core-img/ser2.jpg" class="" alt="">
                        </div>
                        <h6 class="feature-info">Air Transportation</h6>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <!-- Content -->
                    <div class="feature_single_content text-center fadeInUp" data-wow-delay="0.5s">
                        <div class="icon_wrapper">
                            <img src="img/icons/i4.png" alt="">
                        </div>
                        <!-- Icon -->
                        <div class="service_img">
                            <img src="img/core-img/ser3.jpg" class="" alt="">
                        </div>
                        <h6 class="feature-info">Railway Transportation</h6>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <!-- Content -->
                    <div class="feature_single_content text-center fadeInUp" data-wow-delay="0.5s">
                        <div class="icon_wrapper">
                            <img src="img/icons/i2.png" alt="">
                        </div>
                        <!-- Icon -->
                        <div class="service_img">
                            <img src="img/core-img/ser4.jpg" class="" alt="">
                        </div>
                        <h6 class="feature-info">Ocean Transportation</h6>
                    </div>
                </div>
            </div>
        </div>
        
    </section>


    <div class="text-center section-padding-0-0">
        <img src="img/bg-img/b-img.jpg" alt="">
        <div class="container">
            <div class="call-us-sec con-info">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8">
                        <div class="text-left">
                            <h3 class="g-text fadeInUp" data-wow-delay="0.3s">Get Your Quote or Call: (080) 5388-273-284</h3>
                            <h2 class="w-text mb-0">Are You Ready? Book Appointment!</h2>
                            <a class="btn-paint mt-30 fadeInUp" data-wow-delay="0.6s" href="contact-us.html">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="con-img-wrapper">
                            <img src="img/core-img/about-4.png" class="con-img mt-s" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <section class="how section-padding-100-70 relative map-before">

        <div class="container">

            <div class="section-heading text-center">
                <div class="more-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                    <span>Awesome Features</span>
                </div>
                <h2 class="wow fadeInUp d-blue bold" data-wow-delay="0.3s">Our core Features</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Content -->
                    <div class="service_single_content box-shadow text-center wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="how_icon">
                            <img src="img/icons/icon1.png" class="colored-icon" alt="">
                        </div>
                        <h6>24/7 Hours Support</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Content -->
                    <div class="service_single_content box-shadow text-center wow wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Icon -->
                        <div class="how_icon">
                            <img src="img/icons/icon2.png" class="colored-icon" alt="">
                        </div>
                        <h6>Flexible Prices</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Content -->
                    <div class="service_single_content box-shadow text-center wow fadeInUp">
                        <!-- Icon -->
                        <div class="how_icon">
                            <img src="img/icons/icon3.png" class="colored-icon" alt="">
                        </div>
                        <h6>Latest Equipment</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Content -->
                    <div class="service_single_content box-shadow text-center wow fadeInUp">
                        <!-- Icon -->
                        <div class="how_icon">
                            <img src="img/icons/icon4.png" class="colored-icon" alt="">
                        </div>
                        <h6>Ontime at Services</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

   
    <section class="facts-bg section-padding-100 clearfix">
        <div class="container">
            
            <div class="row align-items-center">

                <div class="col-12">
                    <div class="fact-box col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="inner">
                            <div class="content">
                                <div class="cool_fact_icon">
                                    <img src="img/icons/f1.png" alt="">
                                </div>
                                <div class="count-outer">
                                    <span class="count-text counter">30+</span>
                                </div>
                                <div class="counter-title w-text">Tons transported</div>
                            </div>
                        </div>
                    </div>

                    <div class="fact-box col-lg-3 col-md-6 col-sm-12 col-xs-12 fact-box-sm">
                      <div class="inner">
                          <div class="content">
                            <div class="cool_fact_icon">
                                <img src="img/icons/f2.png" alt="">
                            </div>
                              <div class="count-outer">
                                  <span class="count-text counter">341</span>
                              </div>
                              <div class="counter-title w-text">Our Employees</div>
                          </div>
                      </div>
                    </div>

                    <div class="fact-box col-lg-3 col-md-6 col-sm-12 col-xs-12 fact-box-sm">
                      <div class="inner">
                          <div class="content">
                            <div class="cool_fact_icon">
                                <img src="img/icons/f3.png" alt="">
                            </div>
                              <div class="count-outer">
                                  <span class="count-text counter">25+</span>
                              </div>
                              <div class="counter-title w-text">Years of experience</div>
                          </div>
                      </div>
                    </div>

                     <div class="fact-box col-lg-3 col-md-6 col-sm-12 col-xs-12 fact-box-sm">
                      <div class="inner">
                          <div class="content">
                            <div class="cool_fact_icon">
                                <img src="img/icons/f4.png" alt="">
                            </div>
                              <div class="count-outer">
                                  <span class="count-text counter">200</span>
                              </div>
                              <div class="counter-title w-text">Partners worldwide</div>
                          </div>
                      </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    
    <!-- ##### Our Services Area Start ##### -->
    <section class="our_services_area section-padding-100-0 relative map-bg map-before">
        <div class="container">
            
            <div class="section-heading text-center">
                
                <div class="more-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                    <span class="">Our Services</span>
                </div>
                <h2 class="d-blue bold fadeInUp" data-wow-delay="0.3s">What we speciaized in</h2>
                <p class=" fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
            </div>
                

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="img/services/1.jpg" alt="">
                        </div>
                        <h6>Supply Chain Management</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="img/services/2.jpg" alt="">
                        </div>
                        <h6>Warehousing Management</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="img/services/3.jpg" alt="">
                        </div>
                        <h6>AirLine Transportation</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.5s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="img/services/4.jpg" alt="">
                        </div>
                        <h6>Ocean Freight Forwarding</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.6s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="img/services/5.jpg" alt="">
                        </div>
                        <h6> Customs House Brokerage</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.7s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="img/services/6.jpg" alt="">
                        </div>
                        <h6>Realway Transportation</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maxi ut accumsan ut, posuere sit Lorem ipsum quam, maximus ut accumsan.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ##### Team Area Start ##### -->
    <section class="our_team_area section-padding-100-0 clearfix" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        
                        <div class="more-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                            <span> Our Team</span>
                        </div>
                        <h2 class="fadeInUp" data-wow-delay="0.3s">Awesome Team</h2>
                        <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member hos fadeInUp" data-wow-delay="0.2s">
                        <!-- Image -->
                        <div class="team-member-thumb hos">
                            <img src="img/team-img/1.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5 class="w-text">Joman Helal</h5>
                            <p class="g-text">Our Specialist</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member hos fadeInUp" data-wow-delay="0.3s">
                        <!-- Image -->
                        <div class="team-member-thumb hos">
                            <img src="img/team-img/2.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5 class="w-text">Slans Alons</h5>
                            <p class="g-text">Our Company CEO</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member hos fadeInUp" data-wow-delay="0.4s">
                        <!-- Image -->
                        <div class="team-member-thumb hos">
                            <img src="img/team-img/3.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5 class="w-text">Josha Michal</h5>
                            <p class="g-text">Our Specialist</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member hos fadeInUp" data-wow-delay="0.5s">
                        <!-- Image -->
                        <div class="team-member-thumb hos">
                            <img src="img/team-img/4.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5 class="w-text">Johan Wright</h5>
                            <p class="g-text">Our Specialist</p>
                        </div>
                        <!-- Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Team Area End ##### -->


    <div class="clearfix"></div>


    <!-- ##### Blog Area Start ##### -->
    <section class="our_blog_area clearfix section-padding-100-0" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        
                        <div class="more-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                            <span class="">Blog Posts</span>
                        </div>
                        <h2 class="fadeInUp" data-wow-delay="0.3s">Latest News</h2>
                        <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="img/blog-img/1.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            
                            
                            <div class="post-meta mt-20">
                                <p>By <a href="#" class="post-author">ADMIN</a> <a href="#">Apr 10, 2018</a> <a href="#" class="post-comments">7 comments</a></p>
                            </div>
                            <a href="#" class="post-title">
                                <h4>Aim To Have A Positive Impact On The Environment</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a href="index-blog-with-sidebar.html" class="more-info">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.3s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="img/blog-img/2.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            
                            
                            <div class="post-meta mt-20">
                                <p>By <a href="#" class="post-author">ADMIN</a> <a href="#">Apr 10, 2018</a> <a href="#" class="post-comments">7 comments</a></p>
                            </div>
                            <a href="#" class="post-title">
                                <h4>Creative company With dedicated team members </h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a href="index-blog-with-sidebar.html" class="more-info">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.4s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="img/blog-img/3.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            
                            
                            <div class="post-meta mt-20">
                                <p>By <a href="#" class="post-author">ADMIN</a> <a href="#">Apr 10, 2018</a> <a href="#" class="post-comments">7 comments</a></p>
                            </div>
                            <a href="#" class="post-title">
                                <h4>Services Collection that will fit your needs</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a href="index-blog-with-sidebar.html" class="more-info">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->
    
  
    <!-- ##### Testimonial Area Start ##### -->
    <section class="clients_testimonials_area bg-img section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        
                        <div class="more-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                            <span class="">Our Testimonials</span>
                        </div>
                        <h2 class=" wow fadeInUp" data-wow-delay="0.3s">What Our Client Say</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cotainer-fluid">
            <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-12 col-md-10 col-xs-10 offset-xs-1">
                    <div class="client_slides owl-carousel">

                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <div class="icon_wrapper">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <!-- Testimonial Image -->
                            <div class="testimonial_image">
                                <img src="img/test-img/1.jpg" alt="">
                            </div>
                            <!-- Testimonial Feedback Text -->
                            <div class="testimonial-description">
                                <div class="testimonial_text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis magni, quisquam, accusantium dolores atque, doloribus odit minus maiores sunt mollitia consequatur, soluta quasi.</p>
                                </div>

                                <!-- Admin Text -->
                                <div class="admin_text">
                                    <h5>Sunny Khan</h5>
                                    <p>One of Our Clientss</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <div class="icon_wrapper">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <!-- Testimonial Image -->
                            <div class="testimonial_image">
                                <img src="img/test-img/2.jpg" alt="">
                            </div>
                            <!-- Testimonial Feedback Text  -->
                            <div class="testimonial-description">
                                <div class="testimonial_text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error nostrum adipisci porro quisquam. Rem, earum, tenetur? Architecto et, earum repudiandae.</p>
                                </div>

                                <!-- Admin Text -->
                                <div class="admin_text">
                                    <h5>Ajoy Das</h5>
                                    <p>One of Our Clientss</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <div class="icon_wrapper">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <!-- Testimonial Image -->
                            <div class="testimonial_image">
                                <img src="img/test-img/3.jpg" alt="">
                            </div>
                            <!-- Testimonial Feedback Text  -->
                            <div class="testimonial-description">
                                <div class="testimonial_text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, nam repudiandae repellat similique excepturi id placeat molestias dolorem nesciunt sit molestiae.</p>
                                </div>
                                <!-- Admin Text -->
                                <div class="admin_text">
                                    <h5>Jebin Khan</h5>
                                    <p>One of Our Clientss</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonial Area End ##### -->


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img">

        <div class="footer-content-area mt-0">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="img/core-img/logo.png" alt="logo"> Tranmix </a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ducimus voluptatibus neque illo id repellat quisquam? Autem expedita earum quae laborum ipsum ad.</p>
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-x text-center fadeInUp" data-wow-delay="0.3s">
                                <h5>PRIVACY & TOS</h5>
                                <a href=""><p>Advertiser Agreement</p></a>
                                <a href=""><p>Acceptable Use Policy</p></a>
                                <a href=""><p>Privacy Policy</p></a>
                                <a href=""><p>Technology Privacy</p></a>
                                <a href=""><p>Developer Agreement</p></a>
                            </div>
                        </div>
                    </div>
                      
                    <div class="col-12 col-lg-2 col-md-6 ">
                        <!-- Content Info -->
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.2s">
                                <h5>NAVIGATE</h5>
                                <a href=""><p>Advertisers</p></a>
                                <a href=""><p>Developers</p></a>
                                <a href=""><p>Resources</p></a>
                                <a href=""><p>Company</p></a>
                                <a href=""><p>Connect</p></a>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-12 col-lg-3 col-md-6 ">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5>CONTACT US</h5>
                                <p>Mailing Address:xx00 E. Union Ave</p>
                                <p>Suite 1100. Denver, CO 80237</p>
                                <p>+999 90932 627</p>
                                <p>support@yourdomain.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins.js"></script>

    <!-- script js -->
    <script src="js/script.js"></script>

</body>

</html>