{% extends 'log/base.html' %}
{% load static %}
{% block content %}

    <!-- ##### Welcome Area Start ##### -->
    <div class="breadcumb-area clearfix auto-init">
        
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s">Register</h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Register</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Contact Area Start ##### -->
    <section class="section-padding-100 contact_us_area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <div class="more-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                            <span class="">Register</span>
                        </div>
                        <!-- <h2 class="wow fadeInUp d-blue" data-wow-delay="0.3s">Contact With Us</h2> -->
                        <!-- <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p> -->
                    </div>
                </div>
            </div>
            {% include 'log/alerts.html' %}
            <!-- Contact Form -->
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="contact_form">
                        <form  method="POST" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div id="success_fail_info"></div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                        <input type="text" name="firstname"  required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Firstname</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                        <input type="text" name="lastname"  required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Lastname</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                        <input type="text" name="username"  required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Username</label>
                                    </div>
                                </div>
                                <div class="col-12 cl-md-6">
                                    <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                        <input type="email" name="email" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                        <input type="password" name="password1" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Password</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                        <input type="password" name="password2" id="subject" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Confirm Password</label>
                                    </div>
                                </div>
                                
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.6s">
                                    <button style="cursor: pointer;" type="submit" class="btn-paint">Register</button>
                                    <p>Already have an account?<a href="{% url 'login' %}">Login</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->
    
{% endblock %}